<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Edit</h1>
    <div align="center">
        <form action="/update/{{.todo.ID}}" method="post">
            <p>
                <font size="-1">memo</font>
                <input type="text" name="memo" size="30" value="{{.todo.Memo}}">
                <input type="submit" value="送信">
            </p>
        </form>
    </div>
</body>
</html>