<!DOCTYPE html>

<html lang = "ja">

<head>
    <meta charset="UTF-8">
    <title>Gin / 動的なページ</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <h1>Todo</h1>
    <div align="center">
        <form method="POST" action="/new">
            <p>Memo<input type="text" name="memo" size="30" placeholder="please input">
            <input type="submit" value="register"></p>
        </form>
    </div>

    <div class="container">
        <ul>
            {{range .todo}}
            <li>{{.Memo}}</li>
            {{end}}           
        </ul>
    </div>
</body>

</html>