<!DOCTYPE html>

<html lang = "ja">

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <h1>Todo</h1>
    <div align="center">
        <form method="POST" action="/new">
            <p>Memo<input type="text" name="memo" size="30" placeholder="please input">
            <input type="submit" value="register"></p>
        </form>
    </div>

    <div class="container">
        <ul>
            {{range .todo}}
            <li>{{.Memo}}
                <label>
                    <a onclick="var ok=confirm('Delete?');
                    if(ok)location.href='delete/{{.ID}}';return false;"><span class="delete">[x]</span></a>
                </label>
            </li>
            {{end}}           
        </ul>
    </div>
</body>

</html>